<!DOCTYPE HTML >
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>


</head>
<body>
<nav>
  <ul>
    <li><a href="/">Family</a></li>
    <li><a href="/AnilKumar">AnilKumar</a></li>
    <li><a href="/Anju">Anju</a></li>
    <li><a href="/Vasu">Vasu</a></li>
    <li><a href="/Nikita">Nikita</a></li>
  </ul>
</nav>